cfgdicts/__pycache__/**
log.txt
teste.py
.idea/**
src/config/configlong.cfg
**/__pycache__/**
/src/config/configlong.cfg
/AbeewayConfig.egg-info/
src/config/config.cfg
build/**
.vscode/**
dist/**
src/AbeewayConfig.egg-info**
src/__pycache__/**
/config.cfg
/deveui.txt
/values.csv
**/*.csv
template.txt
